.About {
    width: 100%;
    background-color: #000;
    color: rgba(255, 255, 255, 1);

    text-transform: uppercase;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 100px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}


.About h2 {
    font-size: 25px;
    font-weight: 600;
}

.textContainer p {
    font-size: 1em;
    line-height: 25px;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .textContainer {
        gap: 50px;
    }


    .About h2 {
        font-size: 40px;
    }

    .textContainer p {
        font-size: 25px;
        line-height:35px;
        text-align: justify;
    }
}