.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: auto;

  border-radius: 20px;
  border: 1px solid white;

  transition: 0.2s;

  padding: 20px 0px;
}
.container:hover {
  cursor: pointer;
  background-color: #281c80;

  /* border: none; */
  box-shadow: 5px 5px 5px #71717118;
}

.carrerstitle {
  color: white;
  font-size: 20px;
  font-weight: 600;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 30px 0px;
  }

  .carrerstitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
