.container{
    background-color: inherit;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 303px;
    height: 147px;
    border-radius: 20px;
    transition: .5s;
}
.container:hover{
    cursor: pointer;
    background-color: rgb(167, 96, 221);
    border: none;
    box-shadow: 5px 10px 10px #000;
}

.carrerstitle{
    color: white;
    font-weight: 500;
    size: 20px;
    line-height: 23.44px;
    background-color: inherit;
}

.container img{
    background-color: inherit;
}

.container h2{
    background-color: inherit;
}