.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 147px;

    border-radius: 20px;
    border: 1px solid white;

    transition: .2s;
}
.container:hover{
    cursor: pointer;
    background-color: rgb(167, 96, 221);
    border: none;
    box-shadow: 5px 10px 10px #000;
}

.carrerstitle{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    background-color: inherit;
}

@media screen and (min-width: 768px) {
    
    
    .container{
        display: flex;
        justify-content: center;
        width: 85%;
        height: 32vh;
        gap: 7vh;
        padding: 1vh;
    }

    .carrerstitle{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}