.containersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  width: 100%;
  max-width: 100%;
  padding: 45px 64px 45px 64px;
  
  background-color: #281c73;
  color: white;

  box-sizing: border-box;
}

.containersection .titles {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
}

.containersection h2 {
  font-size: 24px;
  font-weight: 600;
}

.containersection p {
  font-size: 18px;
  font-weight: 300;
}

.cardContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 30px;
}

@media screen and (min-width: 768px) { 
   .containersection {
    background-color: #281c73;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 15vh;
  }
  
  .containersection h2{
    margin-top: 5vh;
    font-size: 5.5vh;
  }

  .containersection p{
    margin-top: 3vh;
    font-size: 4vh;
    margin-bottom: 7vh;
  }


  .cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    align-items: center;
    gap: 5vh;
  }

  .cardContainer img{
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .cardContainer h3{
    font-size: 2vw;
    margin-bottom: 20px;
    padding: 10px;
  }

}